<mat-card fxLayout="column" fxLayout="center center">
    <mat-toolbar class="bg-white" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"
        fxLayoutAlign.lt-lg="end">
        <button mat-button fxFlex.lt-lg="100%" fxLayout.lt-lg="row" fxLayoutAlign.lt-lg="start">

        </button>

        <button mat-flat-button fxHide.lt-lg="true">
            Trade<mat-icon>arrow_drop_down</mat-icon>
        </button>


        <button mat-flat-button fxHide.lt-lg="true">
            Services <mat-icon>arrow_drop_down</mat-icon>
        </button>


        <button mat-flat-button routerLink="our-partners" fxHide.lt-lg="true">
            Our Partners
        </button>

        <button mat-flat-button fxHide.lt-lg="true">
            Market Insights
        </button>

        <button mat-flat-button fxHide.lt-lg="true">
            Community<mat-icon>arrow_drop_down</mat-icon>
        </button>


        <button mat-flat-button fxHide.lt-lg="true">
            About DCX
        </button>

        <button mat-flat-button fxHide.lt-lg="true">Contact Us <mat-icon>arrow_drop_down
            </mat-icon>
        </button>


        <button mat-button class="bg-search" fxFlexOrder.lt-lg="1">
            <mat-icon>
                <span class="material-symbols-outlined">
                    search
                </span>
            </mat-icon>
        </button>

        <button mat-stroked-button fxHide.lt-lg="true" fxLayoutAlign="center">
            Login<mat-icon>arrow_drop_down</mat-icon>
        </button>


        <button mat-flat-button color="accent" fxFlex.lt-sm="27%" fxFlex.lt-md="16%" fxFlex.lt-lg="13%"
            fxFlexOrder.lt-lg="0">
            Start trading<mat-icon>arrow_drop_down</mat-icon>
        </button>


        <button mat-flat-button fxHide.gt-md="true" class="bg-search" fxFlexOrder.lt-lg="2" fx>
            <mat-icon>
                <span class="material-symbols-outlined">
                    menu
                </span>
            </mat-icon>
        </button>

    </mat-toolbar>
</mat-card>