<form>

    <div fxLayout="row" fxFlex="100" fxLayoutGap="100px" fxLayoutAlign=" center">
      <h1>Primer nombre:</h1>
      <mat-form-field appearance="outline">
        <mat-label>Primer nombre</mat-label>
        <input matInput placeholder="Introduzca su nombre" required>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlex="100" fxLayoutGap="100px" fxLayoutAlign=" center">
      <h1>Segundo nombre:</h1>
      <mat-form-field appearance="outline">
        <mat-label>Segundo nombre</mat-label>
        <input matInput placeholder="Introduzca su nombre">
      </mat-form-field>
    </div>

</form>