<footer fxLayout="column" fxLayoutGap="5vh">

    <div fxLayout="row" fxFlex="100%" >
        <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center" fxLayoutGap="2.0rem">
            <br><br>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-md="column" fxLayoutAlign="center"
                fxLayoutGap.gt-sm="10vh">
                <div fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="column" fxFlex.sm="50%"
                    fxFlex.md="20%" fxFlex.lg="20%" fxFlex.gt-lg="25%" fxLayoutAlign.sm="center center"
                    fxLayoutAlign.gt-sm="center start">
                    <div fxLayout.lt-sm="column" fxLayout.sm="column" fxFlex.xs="70%" fxFlex.lt-md="70%" fxFlex.gt-sm="auto">

                    </div>

                </div>
                <div fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="column" fxFlex.lt-sm="100%" fxFlex.md="6%"
                    fxFlex.lg="10%" fxFlex.gt-lg="8%" fxLayoutAlign.sm="center center"
                    fxLayoutAlign.gt-sm="start start">
                    <div fxLayout.lt-sm="column" fxLayout.sm="column" fxFlex="70%">

                    </div>

                </div>
                <div fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="column" fxFlex.lt-sm="90%"
                    fxFlex.md="8%" fxFlex.lg="10%" fxFlex.gt-lg="8%" fxLayoutAlign.sm="center center"
                    fxLayoutAlign.gt-sm="start start">
                    <div fxLayout.lt-sm="column" fxLayout.sm="column" fxFlex="70%">

                    </div>

                </div>
                <div fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="column" fxFlex.lt-sm="90%"
                    fxFlex.md="15%" fxFlex.lg="12%" fxFlex.gt-lg="15%" fxLayoutAlign.sm="center center"
                    fxLayoutAlign.gt-sm="start start">
                    <div fxLayout.lt-sm="column" fxLayout.sm="column" fxFlex="70%">

                        <button mat-flat-button fxFlexAlign.md="stretch" color="accent">Start Trading
                            Today!</button><br><br>
                        <button mat-flat-button fxFlexAlign.md="stretch" color="white">Subscribe to DCX
                            Newsletter</button>
                    </div>

                </div>
            </div>

            <br><br>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="start center">
            <p>© 2022 DCX Group. All rights reserved.</p>
            <div fxLayout="row" fxLayoutGap="10vh">
                <a >Terms & Conditions</a>
                <a >Privacy Policy</a>
                <a >Disclaimer</a>
            </div>
            <br><br>
        </div>
    </div>
</footer>